.synth {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 4px 1px;
  overflow: hidden;

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 1.5rem;
    background: linear-gradient(
      to bottom,
      hsl(0deg 0% 0% / 50%) 0%,
      transparent 50%
    );
    content: "";
  }
}

.controlsPanel {
  position: relative;
  display: flex;
  padding: 0;
  width: 100%;
  overflow: auto hidden;
  background: var(--color-gray-l);
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-gutter: stable;

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  &::before,
  &::after {
    position: relative;
    z-index: 9;
    height: 100%;
    box-shadow: 0 0 5px 2.5px hsl(0deg 0% 0% / 85%);
    content: "";
  }
}

.keyboardPanel {
  display: flex;
  width: 100%;
  min-width: 0;

  &::after,
  &::before {
    position: absolute;
    top: 66.5%;
    z-index: 9;
    width: 30px;
    height: 55%;

    /* filter: blur(8px);
    background: hsl(0deg 0% 0% / 85%); */
    box-shadow: 0 0 20px 15px hsl(0deg 0% 0%);
    content: "";
  }

  &::before {
    rotate: 2.5deg;
    left: -60px;
  }

  &::after {
    rotate: -1.5deg;
    right: -26px;
  }

  &.mobile {
    &::after,
    &::before {
      height: 120px;
    }
  }
}
